* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 0 30px;
}

/* Remove extra left and right margins, due to padding */
.row,
h1 {
  margin: 20px 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  height: 390px;
}

img {
  width: 100%;
}

#cars {
  borde-radius: 10px;
  width: 150px;
}

button {
  background: rgb(230, 76, 76);
  padding: 10px;
  border-radius: 15px;
  color: aliceblue;
  cursor: pointer;
}
